<!-- Add Team  -->

<h1 mat-dialog-title>Adauga Echipa</h1>
<div mat-dialog-content>
 Sigur doresti sa adaugi inregistrarea ?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Anuleaza</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Adauga</button>
</div>




<!-- Edit Team  -->


<h1 mat-dialog-title>Editeaza Echipa</h1>
<div mat-dialog-content>
 Sigur doresti sa editezi inregistrarea ?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Anuleaza</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Editeaza</button>
</div>
